node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/env/
/playwright/.auth/
/api-testing/api-data.json/
/api-testing/users.test.ts/
/api-testing/login.test.ts/
/api-testing/controllers.ts/
